.card {
    display: flex;
    flex-flow: column nowrap;
    height: 250px;
    width: 100%;
    max-width: 300px;
    border: 2px solid slategrey;
    margin: 10px;
    color:slategrey
}

.card-info {

}