button {
    color: red;
    position: relative;
    background-color: Transparent;
    border: none;
    margin: 20px;
    font-size: 40px;
}

main {
    display: flex;
    justify-content: space-around;
}