body {
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 100% 100%;
  width: auto;
  background-repeat: no-repeat;
  color:yellow;
  width:100%;
  overflow: hidden;
}

header {
  color:slategrey;
  font-size: 60px;
}

.deathStar {
  height: 80px;
}

h3 {
  margin-top: 25px;
}
